.header {
    width: 100%;
    background-color: $white;
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    border-bottom: 1px solid $grey;

    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    .left {
        order: 0;
        flex: 0 1 100%;
        align-self: auto;
    }

    .right {
        order: 0;
        flex: 0 1 100%;
        align-self: auto;
        text-align: right;
    }

    .header-title {
        margin: 0;
        line-height: 1;
    }
}
