doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons",
      rel="stylesheet")
        title= title
    style.
        * {
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
        }
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .main {
            text-align: center;
        }
    body
        .main
            h3 Page not found
            a(href="/") Home page
