doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="_csrf", content=csrfToken)
        link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(href="dist/" + bundle.css, rel="stylesheet")
        title= title
    body
        #app
        script(src="dist/" + bundle.js)
